body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Ngăn cuộn ngang khi menu được mở */
}
.header-image {
  width: 100%;
  height: auto;
  display: block;
  position: sticky;
}
header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #630A10;
  color: white;
  z-index: 1000;
  transition: margin-left 0.5s; /* Hiệu ứng chuyển động */
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 50px;
  line-height: 40px;
}
.icons {
  display: flex;
  gap: 10px;
  font-size: 20px;
}
.icons a {
  display: flex;
  gap: 10px;
  font-size: 20px;
  text-decoration: none;
  color: #FFF;
}
.back i {
  font-size: 20px;
  color: #fff;
}
.chapter-title {
  white-space: nowrap;
  font-size: 25px;
  font-weight: bold;
}
.progress-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5px;
  background-color: #f3f3f3;
}
.progress-bar {
  height: 100%;
  width: 0;
  background-color:#911F27;
  transition: width 0.25s;
}
main {
  margin-top: 0;
  transition: margin-left 0.5s;
}
.content {
  justify-content: space-between;
  display: flex;
}
/*Full screen*/
#fullscreen-icon, #highlighter-icon, #eraser-icon {
cursor: pointer;
font-size: 20px;
}
/*Highlight*/
.toggle-container {
margin-top: 50px;
margin-bottom: 20px;
display: flex;
align-items: center;
}

.switch {
position: relative;
display: inline-block;
width: 40px; /* Giảm chiều rộng */
height: 20px; /* Giảm chiều cao */
margin-left: 20px; /* Cách lề 10px */
}
.switch input {
opacity: 0;
width: 0;
height: 0;
}
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
transition: 0.4s;
border-radius: 20px; /* Điều chỉnh để phù hợp với kích thước mới */
}
.slider:before {
position: absolute;
content: "";
height: 14px; /* Giảm chiều cao */
width: 14px; /* Giảm chiều rộng */
left: 3px;
bottom: 3px;
background-color: white;
transition: 0.4s;
border-radius: 50%;
}
input:checked + .slider {
background-color: #2196F3;
}
input:checked + .slider:before {
transform: translateX(20px); /* Điều chỉnh để phù hợp với kích thước mới */
}
.highlight {
background-color: yellow;
}
/*Xóa highlight*/
.xoa_2light {
height: 24px;
}
.xoa_2light_icon i {
float: left;
}
.xoa_2light_text {
color: black;
float: left;
}
.eraser {
cursor: pointer;
margin-left: 20px;
font-size: 24px;
}
/* Ẩn phần "Tên chương" khi màn hình nhỏ */
@media (max-width: 600px) {
.chapter-title {
  display: none;
}
}
/* Menu bên trái */
.left-menu {
  height: 1500px; /* Chiều cao trừ đi chiều cao của header */
  width: 250px;
  max-height: calc(100%-40px);
  position: fixed;
  z-index: 1;
  left: -250px;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
  z-index: 1;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
.bangmucluc {
  width: 100%;
  left: 100%;
  padding-top: 30px;
  padding-left: 10px;
}
.menu {
  width: 200px;
  margin-top: 5px;
  position: relative;
}
.menu-item {
  position: relative;
  margin-bottom: 5px;
}
.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
}
.dropdown-item {
  margin-left: 20px;
}
.dropdown-item a {
  text-decoration: none;
  display: block;
}
.dropdown-item a:hover {
  background-color: #ddd;
}
.menu-item.open .dropdown-content {
  display: block;
}
.dropdown-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
.menu-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-menu a {
  text-decoration: none;
  font-size: 18px;
  line-height: 1.5;
  color: #630A10;
  display: block;
  transition: 0.3s;
  margin-left: 8px;
}
.left-menu i {
  font-size: 16px;
  color: #630A10;
}
.left-menu a:hover {
  color: black;
}
.left-menu .close-btn {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 36px;
  cursor: pointer;
  color: #630A10;
}
.menu-icon {
  cursor: pointer;
}
.container {
  transition: margin-left 0.5s;
}
/*Nội dung sách*/
.noidungsach {
  margin: 0 20px;
  text-align: justify;
}
.xg_dong {
  height: 10px;
  width: 100%;
}
/*Tính năng*/
.tinhnang {
  width: 100%;
  left: 100%;
  padding-top: 30px;
  padding-left: 30px;
}
.tinhnang p {
  color: #630A10;
  font-size: 18px;
}
/*Thay đổi cơ*/
#slider {
  position: relative;
  width: 60%; /* Độ rộng của thanh ngang */
  height: 5px; /* Độ cao của thanh ngang */
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-top: 25px;
  margin-bottom: 40px;
  margin-left: 20px;
}
#knob {
  width: 20px;
  height: 20px;
  background-color: #aaa;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.slider-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  cursor: pointer;
}
#minusIcon {
  position: absolute;
  left: -20px;
  top: 50%;
  font-size: 15px;
  transform: translateY(-50%);
}
#plusIcon {
  position: absolute;
  right: -20px;
  top: 50%;
  font-size: 25px;
  transform: translateY(-50%);
}
/*Màu nền*/
.colorButton {
  border: 1px solid #630A10;
  width: 45px;
  height: 30px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}
.tick {
  position: absolute;
  transform: translateY(-50%);
  visibility: hidden;
  width: 45px;
  height: 30px;
  line-height: 30px;
  text-align: left;
}
.tick i {
  color: green;
  font-size: 20px; /* Màu xanh cho dấu tích */
}
.selected .tick {
  visibility: visible;
}
.profile-content {
  width: 200px;
  margin-top: 30px;
  margin-left: 20px;
}
/*Nhạc nền*/
.playlist {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}
.playlist-item {
  display: flex;
  align-items: center;
  padding: 10px 5px;
  border-bottom: 1px solid #444;
  cursor: pointer;
  transition: background-color 0.3s;
}
.playlist-item:last-child {
  border-bottom: none;
}
.number {
  margin-right: 10px;
  font-size: 14px;
}
.details {
  flex: 1;
}
.details .title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.details .artist {
  font-size: 12px;
  color: #a0a0a0;
}
.play-icon {
  font-size: 16px;
  color: #fff; /* Màu biểu tượng mặc định */
}
.playing .play-icon {
  color: #000; /* Màu biểu tượng khi phát nhạc */
}

/*Note*/
.note_new {
  width: 80%;
}
  /* Container for notes */
#notesContainer {
  display: flex;
  flex-wrap: wrap;
  width: 220px;
  margin-left: 20px;
}
#noteTitle {
  width: 100%;
  margin-left: 0;
}
#noteContent {
  width: 100%;
  margin-left: 0;
}
  /* Style for individual note */
.note {
  position: relative;
  width: 200px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  overflow: hidden;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.note h3 {
  margin-top: 0;
  font-size: 16px;
}
.note p {
  margin-bottom: 0;
  font-size: 14px;
  word-wrap: break-word;
}
.note .timestamp {
  font-size: 12px;
  color: #888;
}
.note-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.note-buttons button {
  margin-left: 5px;
}
/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Create note container styles */
.create-note-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
}
.create-note-text {
  margin-left: 10px;
}
.create-note-icon {
  width: 30px;
  height: 30px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.create-note-icon:hover {
  background-color: #0056b3;
}
/* Add this to the style section */
#fontList {
  display: flex;
  flex-direction: column;
}
.fontButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent; /* No background color */
  color: #630A10;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  width: 200px; /* Fixed width */
  text-align: left; /* Align text to the left */
  position: relative; /* To position the tick mark */
}
.font1 {
  font-family:'Courier New', Courier, monospace;
}
.font2 {
  font-family: Arial, Helvetica, sans-serif;
}
.font3 {
  font-family:'Times New Roman', Times, serif;
}
.fontButton.active {
  background-color:#630A10; /* Background color for active button */
  color: #f0f0f0;
}
/*Search*/
.search-section {
    margin-top: 50px;
    margin-left: 25px;
}
#searchInput {
    width: 180px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#searchResults {
    margin-top: 20px;
    width: 200px;
}
.search-result-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.search-result-item:hover {
  background-color: #888;
  color: #FFF;
}
.highlight {
    background-color: yellow;
    font-weight: bold;
}
/*Chú thích*/
/* Style cho tooltip */
.tooltip {
    position: absolute;
    display: none;
    width: auto;
    max-width: 300px;
    background-color:#630A10;
    color: #fff;
    border-radius: 6px;
    padding: 5px;
    z-index: 1;
    text-align: justify;
}
/* Style cho từ cần chú thích */
.tooltip-word {
    color: red;
    font-size: 8px;
    cursor: pointer; /* Biến con trỏ thành dấu tay khi di chuột qua */
}

/*Màu chữ*/
.color-button {
  border: 1px solid #630A10;
  width: 45px;
  height: 30px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.color-white { background-color: white; }
.color-red { background-color: red; }
.color-gray { background-color: gray; }
.color-black { background-color: black; }
.checkmark {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: green;
font-size: 24px;
display: none;
}
.color-button.selected .checkmark {
display: block;
}

/*Ảnh minh họa*/
.anh {
  text-align: center;
}
.anh img {
  width: 80%;
}

/*Bảng*/
.noidungsach table {
  width: 100%;
  text-align: justify;
}
.noidungsach table tr:nth-child(even){
  background-color: #f2f2f2
}
.noidungsach table th, td {
  padding: 10px;
}
.noidungsach table th {
  color: #fff;
  background-color: #630A10;
}

/*Xi nhê*/
.xinhe {
  text-align: center;
  width: 100%;
}
.xinhe hr {
  width: 100%;
}

/*Về đầu trang*/
.scrollTop {
  position: fixed;
  bottom: 70px;
  right: 20px;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 12px;
  background-color: #FFF;
  color:#630A10;
  border-radius: 1px solid #FFF;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  width: 30px;
  height: 30px;
  z-index: 2;
}
.scrollTop:hover {
  background-color:#630A10;
  color: #FFF;
}

/*Về cuối trang*/
.scroll-to-bottom {
  position: fixed;
  bottom: 28px;
  right: 20px;
  z-index: 1000;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 12px;
  background-color: #FFF;
  color:#630A10;
  border-radius: 1px solid #FFF;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  width: 30px;
  height: 30px;

}
.scroll-to-bottom:hover {
  background-color:#630A10;
  color: #FFF;
}
